.DS_Store
src/cache
src/assets
src/output
build

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# rocks binaries
/rocks/lib/lua

cloudlab.sublime-project
cloudlab.sublime-workspace
.idea
